@import '../../styles/variables.scss';

.admin {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: $light;  
    
    &__box {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        width: 600px;
        background: rgb(245, 245, 242);
        box-shadow: 0 0 24px rgba(47, 47, 47, 0.0425);
        border-radius: 0.5rem;
    }
}