@import './spacing.scss', './simple-grid.scss', './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: $light;
}

p {
    padding: 0.25rem 0;
}

select {
    padding: 0.25rem;
    border: 1px solid rgba($dark, 0.4);
    border-radius: 4px;
    color: $dark;
}

.big-select {
    padding: 0.75rem 1rem;
    border-radius: 8px;
    border: 1px solid rgba($dark, 0.4);
    margin-right: 0.33rem;
    outline-color: $primary;
}

.scrollable {
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #fff;
    }

    &::-webkit-scrollbar-thumb {
        background: $primary; 
        border-radius: 10px;
    }
}

.pop-success {
    color: #30a653;
    background-color: rgba(48, 166, 83, 0.1);
    padding: 1rem;
    border: 1px solid #30a653;
    border-radius: 8px;
}

.pop-error {
    color: $secondary;
    background-color: rgba($secondary, 0.1);
    padding: 1rem;
    border: 1px solid $secondary;
    border-radius: 8px;
}

.modal {
    position: fixed;
    z-index: 9;
    width: 760px;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background-color: $light;
    box-shadow: 0 0 12px rgba(47, 47, 47, 0.125);
    border-radius: 8px;
}

.title {
    font-size: 2.25rem;
    font-weight: 600;
}

.section-title {
    font-size: 1.65rem;
    font-weight: 600;
}

.small-title {
    font-size: 1.175rem;
    font-weight: 600;
}

.radio {
    padding-top: 0.33rem;
    padding-bottom: 0.33rem;

    label {
        padding-left: 0.25rem;
    }
}

.separator {
    width: 100%;
    height: 1px;
    //border: none;
    background-color: rgba($dark, 0.25);
}

.pointer {
    cursor: pointer;
}

// ABSOLUTE POSITIONING
.absolute-t-r {
    position: absolute;
    top: 1rem; right: 1rem;
}

.absolute-t-l {
    position: absolute;
    top: 1rem; left: 1rem;
}

.absolute-b-r {
    position: absolute;
    bottom: 1rem; right: 1rem;
}

.absolute-b-l {
    position: absolute;
    bottom: 1rem; left: 1rem;
}

.m-t-0 {
    margin-top: 0.35rem !important;
}

.m-l-0 {
    margin-left: 0.35rem !important;
}

// FG colors
.fg-primary {
    color: $primary;
}

.fg-secondary {
    color: $secondary;
}

.fg-success {
    color: #30a653;
}

.fg-light {
    color: $light;
}

.fg-dark {
    color: $dark;
}

// BG colors
.bg-light {
    background-color: $light;
}

.bg-lighter {
    background-color: $lighter;
}

.bg-light-medium {
    background-color: $lightMedium;
}

.bg-dark {
    background-color: $dark;
}

.bg-white {
    background-color: #fff;
}

// Breakpoints
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;

// Spacing
$spacingLevels: 8;
@include SpacingAll($screen-lg, $screen-md, $screen-sm);

// Grid
@include Grid();

// Containers
.container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1300px) {
    .container {
        width: 1000px;
    }
}

@media (max-width: 1080px) {
    .container {
        width: calc(100% - 40px);
    }
}

// Table 
.table {
    position: relative;

    &__item {
        margin: 0.33rem 0 !important;
        background: rgba($light, 0.65);
        border: 1px solid rgba($secondary-darker, 0.2);
        box-shadow: 0 0 12px rgba($secondary-darker, 0.05);
        border-radius: 0.5rem;
    }
}


// Flex
.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.h-center {
    justify-content: center;
}

.h-end {
    justify-content: end;
}

.h-between {
    justify-content: space-between;
}

.v-center {
    align-items: center;
}

.v-end {
    align-items: flex-end;
}

.flex-col.h-center {
    align-items: center;
}

.flex-col.h-end {
    align-items: end;
}

.flex-col.v-center {
    justify-content: center;
}

.top-effect {
    position: absolute;
    top: 0.35rem; left: 0;
    width: 100%;
    height: 4rem;
    background-image: url(https://cdn-icons-png.flaticon.com/512/29/29302.png);
    background-size: contain;
    animation: animateBg 10s linear infinite;
}

@keyframes animateBg {
    0% {
        background-position: 0% 100%
    }
    50% {
        background-position: 100% 100%
    }
    100% {
        background-position: 0% 100%
    }
}
